/* Respostas do desafio do Froggy:  

1: justify-content: center;
2: justify-content: space between;
3: justify-content: space-evenly;
4: justify-content: space-around;
5: align-items: flex-end;
6: justify-content: center/align-items: center;
7: justify-content: space-around/align-items: flex-end;
8: flex-direction: row-reverse;
9: flex-direction: column;
10: flex-direction: row-reverse/justify-content: flex-end;
11: flex-direction: column/justify-content: flex-end;
12: flex-direction: column-reverse/justify-content: space-between;
13: flex-direction: row-reverse/justify-content: center/align-items: flex-end;
14: order: 3;
15: order: -2;
16: align-self: flex-end;
17: order: 2/align-self: flex-end;
18: flex-wrap: wrap;
19: flex-direction: column/flex-wrap: wrap;
20: flex-flow: column wrap;
21: align-items: flex-start;
align-content: flex-start;
22: align-content: flex-end;
23: flex-direction: column-reverse/align-content: center;
24: flex-flow: column reverse wrap reverse;
justify-content: center;
align-content: space-between;

*/




/* Respostas do segundo desafio: 

1: grid-column-start: 3;
2: grid-column-start: 5;
3: grid-column-end: 4;
4: grid-column-end:-5;
5: grid-column-end: -2;
6: grid-column-start: 4;
7: grid-column-end: span 2;
8: grid-column-end: span 5;
9: grid-column-start: 3;
10: grid-column: 4/45;
11: grid-column: span 3/-2; 
12: grid-row-start: 3
13: grid-row: 3/6
14: grid-column: 2/grid-row: 5;
15: grid-column: 2/6/grid-row: span 5;
16: grid-area: 1/2/4/6;
17: grid-area: 2/3/5/6;
18: order: 2;
19: order: -1;
20: grid-template-columns: 50%
21: grid-template-columns: 12.5%;
22: grid-template-columns: 100px 3em 40%;
23: grid-template-columns: 1fr 5fr;
24: grid-template-columns: 50px 1fr 1fr 1fr 50px;
25: grid-template-columns: 75px 3fr 2fr;
26: grid-template-rows: 50px 0fr 0fr 0fr;
27: grid-template: 60%/200px;
28: grid-template: 1fr 50px/20% 80%;


*/

