/* .small-card-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 70px;
}

.small-card-container > img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

/* .small-card-container h4 {
    margin-bottom: 15px;
} */

/* .small-card-container > div {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
} */

/* .small-card-container p {
    padding: 0px 10px;
    margin-top: 0;
}
 */ 